<!DOCTYPE html>
<html>
<head>
        <title>Task List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
        <div class="container">
                <h1>Task List</h1>
                <table class="table">
                        <thead>
                                <tr>
                                        <th>Max Date</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Completed</th>
                                </tr>
                        </thead>
                        <tbody>
                                <% tasks.forEach(task => { %>
                                        <tr>
                                                <td><%= task.completion %></td>
                                                <td><%= task.title %></td>
                                                <td><%= task.decription %></td>
                                                <td>
                                                        <input type="checkbox" disabled <% if (task.status) { %>checked<% } %>>
                                                </td>
                                        </tr>
                                <% }) %>
                        </tbody>
                </table>
        </div>
</body>
</html>